/* text-align */
@mixin text-center($line-height)
  height: $line-height
  line-height: $line-height

@mixin flex-flow($direction, $wrap)
  display: flex
  flex-flow: $direction $wrap

@mixin flex-align-items($option)
  display: flex
  align-items: $option
  justify-content: center

@mixin flex-justify-content($option)
  display: flex
  align-items: center
  justify-content: $option

@mixin flex($aiOption, $jcOption)
  display: flex
  align-items: $aiOption
  justify-content: $jcOption

@define-placeholder margin-center
  margin-left: auto
  margin-right: auto
