@mixin md-button-variant($color, $background)
  color: $color
  background-color: $background

  &:focus
    color: $color
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5)

  &:hover
    color: $color
    background-color: color($background lightness(+ 10%))

  &:active
    color: $color
    background-color: color($background lightness(- 15%))

  &[disabled]:hover
    color: $color
    background-color: $background
