@mixin md-flash-message-variant($icon-color, $icon-background-color)
  .icon
    color: $icon-color
    background-color: $icon-background-color

@keyframes md-flash-message
  0%
    opacity: 0
    transform-origin: bottom right
    transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg)
  10%, 85%
    opacity: 1
    transform: rotate(0deg) scale(1)
  90%
    transform: rotateX(90deg) scale(1)
  100%
    opacity: 0
    transform: rotate(0deg) scale(0.5)

@keyframes md-flash-message-icon-i
  0%
    transform: scale(0.2) translateY(50px)
    opacity: 0
  100%
    transform: scale(1) translateY(0px)
    opacity: 1
