.md-form-container
  @include rectangle(inherit, inherit, $form-container-background-color)
  overflow: auto

.md-form
  @include card(345px, auto)
  @include flex(center, space-around)
  @include flex-flow(column, nowrap)
  @extend margin-center
  margin-top: 4rem
  background-color: white

.md-form-title
  @extend no-user-select
  font-size: $form-title-font-size
  font-weight: bolder

.md-form-btn
  border-radius: $form-input-border-radius
  font-size: $form-btn-font-size
  height: $form-section-height
  line-height: $form-section-height
  box-sizing: border-box

.md-form-link
  color: $primary-color
  font-size: $form-link-font-size
  line-height: $form-section-height

.md-form-input
  outline: none
  border: 1px solid $form-input-border-color
  padding-left: $form-input-left-padding
  font-size: $form-input-font-size
  border-radius: $form-input-border-radius
  height: $form-section-height
  box-sizing: border-box

.md-form-section
  height: $form-section-height
  width: 100%

.md-form-flash-message
  font-size: $form-flash-message-font-size

.md-form-checkbox
  input
    font-size: $form-checkbox-font-size
  label
    @extend no-user-select
    font-size: $form-checkbox-font-size
    color: $form-checkbox-color
    margin-left: 10px
