.md-user-login-form
  height: 300px
  .md-form-input
    width: 250px
  .md-form-btn
    width: 250px
  .md-form-section
    @include flex-justify-content(space-around)

.md-user-signup-form
  height: 450px
  .md-form-input
    width: 250px
  .md-form-btn
    width: 250px

.md-user-reset-password-form
  height: 250px
  .md-form-section
    @include flex(center, center)
    width: 250px
    .md-radio-button
      width: inherit
  .md-form-input
    width: 250px
  .md-form-btn
    width: 100px

.md-user-forget-password-form
  height: 250px
  .md-form-section
    @include flex(center, space-between)
    width: 250px
  .md-form-input
    width: 250px
  .md-form-btn
    width: 100px

.md-organization-signin-form
  height: 200px
  .md-form-section
    @include flex(center, center)
    .md-form-input
      width: 100px
  .md-form-btn
    width: 120px
    span
      margin-right: 10px

.md-organization-signup-form
  height: 550px
  .md-form-input
    width: 100px
  .md-form-section
    @include flex(center, center)
    .md-form-btn
      width: 120px
  .md-form-section ~ .md-form-section
    @include flex(center, space-around)
