.md-footer
  .md-footer-part-left
    .md-footer-text-row
      .md-footer-text-title 马达数据
      .md-footer-text-content 关于 博客 帮助中心 客户支持 服务状态
    .md-footer-text-row
      .md-footer-text-title 关注我们
      .md-footer-text-content 微信 微博 Facebook Twitter
  .md-footer-part-right
    img.md-footer-logo(src='/static/logo-mada-grey.png', arg='logo')
    .md-footer-corp-icon
      i(class='fa fa-copyright', aria-hidden='true') 2016
      span  Mada
