.md-header
  .md-header-part-left
    label.md-left-nav-toggle-icon(for="md-left-nav-toggler")
      i(class="fa fa-bars", aria-hidden="true")
    img.md-header-logo(src="/static/logo-nanji.png", alt="logo")
  .md-header-part-right
    .md-header-icon
      input(id="md-header-search-box-toggler", type="checkbox", hidden="true")
      label(for="md-header-search-box-toggler")
        i(class="fa fa-search", aria-hidden="true")
    .md-header-icon
      input(id="md-header-panel-toggler", type="checkbox", hidden="true")
      .md-header-panel
        a.item(href="/datacenter")
          i(class="fa fa-database font-icon", aria-hidden="true")
          .title 数据中心
        .item
          i(class="fa fa-cart-plus font-icon", aria-hidden="true")
          .title 应用商店
        .item
          i(class="fa fa-cog font-icon", aria-hidden="true")
          .title 设置
      label(for="md-header-panel-toggler")
        i(class="fa fa-th", aria-hidden="true")
    div
      input(id="md-header-personal-settings-toggler", type="checkbox", hidden="true")
      .md-header-personal-settings
        .user-info
          .avatar
            img(src="/static/avatar.png", alt="avatar")
          .info
            .name #{user.username}
            .email #{user.email}
        .button-group
          a.md-btn(href='/users/profile/' + user.id) 个人资料
          form(action="/users/logout" method="POST")
            button.md-btn(type="submit") 退出系统
        .message-center-title 通知中心
      label.md-header-avatar(for="md-header-personal-settings-toggler")
        img(src= user.avatarSrc, alt="avatar")
