input#md-left-nav-toggler(type="checkbox" checked="checked")
.md-left-nav
  .md-left-nav-top-section
    img.md-left-nav-logo(src="/static/logo-mada-grey.png", alt="logo")
    span.md-left-nav-corp-name MadaData
  each groups, section in links
    .md-left-nav-section-title #{section}
    .md-left-nav-divider
    .md-left-nav-section
      each boards, group in groups
        .md-toggle-list
          input(id= "trigger-" + group, type="checkbox")
          label(for="trigger-" + group) #{group}
          ul
            each board in boards
              li.md-toggle-list-item
                a(href= "/boards/" + board.id) #{board.name}
