if message
  if message.type == 'error'
    .md-flash-message-error
      .icon
        i(class="fa fa-exclamation")
      .text #{message.content}
  if message.type == 'info'
    .md-flash-message-info
      .icon
        i(class="fa fa-envelope")
      .text #{message.content}
  if message.type == 'success'
    .md-flash-message-success
      .icon
        i(class="fa fa-check")
      .text #{message.content}
