extends ../../common/layout

block meta
  meta(id="board-meta", board-id=boardId)

block link
  link(href="/static/font-awesome.css" rel="stylesheet")
  //- this is for testing. should be modified later
  link(href="http://localhost:3005/bower_components/plottable/plottable.css" rel="stylesheet")

block content
  include ../../common/header
  include ../../common/leftNav
  .md-content-wrapper
    .md-content
      h1 Board
      div#board

block scripts
  script(type="application/javascript" src="/static/bundle.js")
