<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MDLeftNav</title>
    <link rel="stylesheet" href="../../../public/bundle.css">
  </head>
  <body>
    <div class="md-header">
      <div class="md-header-first-layer">
        <label for="md-left-nav-toggler" class="md-left-nav-toggle-icon">☰</label>
      </div>
    </div>
    <input type="checkbox" id="md-left-nav-toggler" />
    <div class="md-left-nav">
      <div class="md-left-nav-top-section">
        <img src="../../../app/assets/logo-mada-grey.png" alt="logo" class="md-left-nav-logo">
        <span class="md-left-nav-corp-name">MadaData</span>
      </div>
      <div class="md-left-nav-section-title">我的</div>
      <div class="md-divider"></div>
      <div class="md-left-nav-section">
        <div class="md-toggle-list">
          <input type="checkbox" id="trigger-collections">
          <label for="trigger-collections">我收藏的</label>
          <ul>
            <li class="md-toggle-list-item">
              <a href="#">园区</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">园区</a>
            </li>
          </ul>
        </div>
        <div class="md-toggle-list">
          <input type="checkbox" id="trigger-shared">
          <label for="trigger-shared">分享给我的</label>
          <ul>
            <li class="md-toggle-list-item">
              <a href="#">麦采尧</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">刘嘉瑜</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">周宇翔</a>
            </li>
          </ul>
        </div>
        <div class="md-toggle-list">
          <input type="checkbox" id="trigger-panel">
          <label for="trigger-panel">我的仪表盘</label>
          <ul>
            <li class="md-toggle-list-item">
              <a href="#">销售总览</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">销售人员业绩</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="md-left-nav-section-title">团队</div>
      <div class="md-divider"></div>
      <div class="md-left-nav-section">
        <div class="md-toggle-list">
          <input type="checkbox" id="trigger-sales">
          <label for="trigger-sales">销售</label>
          <ul>
            <li class="md-toggle-list-item">
              <a href="#">销售总览</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">销售人员业绩</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">部门业绩</a>
            </li>
          </ul>
        </div>
        <div class="md-toggle-list">
          <input type="checkbox" id="trigger-yuanqu">
          <label for="trigger-yuanqu">园区</label>
          <ul>
            <li class="md-toggle-list-item">
              <a href="#">销售总览</a>
            </li>
            <li class="md-toggle-list-item">
              <a href="#">销售人员业绩</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
