.u-center-flex-center
  @extend flex-center

.u-center-flex-space-around
  @extend flex-center
  justify-content: space-around

.u-center-flex-space-between
  @extend flex-center
  justify-content: space-between

.u-center-block
  @extend block-center

.u-center-translate-parent
  position: relative

.u-center-translate-child
  @extend translate-center
