@mixin rectangle($width, $height)
  width: $width
  height: $height
  background-color: #A9A9A9

.u-square-lg
  @include rectangle(500px, 500px)

.u-square-md
  @include rectangle(250px, 250px)

.u-square-sm
  @include rectangle(50px, 50px)

.u-full-viewport
  width: 100vw
  height: 100vh
