extend ../../common/layout

block link
  link(href="/static/font-awesome.css" rel="stylesheet")

block content
  include ../../common/header
  include ../../common/leftNav
  .md-content-wrapper
    .md-content
      div#app

block scripts
  script(type='application/javascript' src='/static/bundle.js')
  script(type='application/javascript' src=DATACENTER_MAIN_URL)
