$md-list-indicator-width: 1rem

.md-toggle-list
  text-align: left
  display: block
  line-height: 1rem
  user-select: none
  ul
    display: none
    list-style: none
    padding-left: $md-list-indicator-width
    margin-top: .5rem
    li
      display: block
      overflow: hidden
      height: 0

  label
    display: block
    cursor: pointer
    font-size: $list-font-size
    margin-bottom: .5rem
    line-height: 1rem
    color: $list-close-color

    &:before
      display: inline-block
      font-size: $list-icon-font-size
      width: $md-list-indicator-width
      height: 1rem
      line-height: 1rem
      text-align: center
      vertical-align: middle
      content: "▶"
    &:hover
      color: $list-open-color

  .md-toggle-list-item
    font-size: $list-item-font-size
    margin-bottom: 7px
    a
      display: block
      color: $list-close-color
      &:hover
        color: $list-open-color
  [type="checkbox"]
    display: none
    &:checked + label
      color: $list-open-color
      &:before
        content: "▼"
      &:hover
        color: $list-open-color
    &:checked ~ ul
      display: block
      animation: fadeIn 1s
    &:checked ~ ul > li
      height: auto
