extends ../../common/layout

block link
  link(href="/static/font-awesome.css" rel="stylesheet")

block content
  include ../../common/header
  include ../../common/leftNav
  include ../../common/message
  .md-content-wrapper
    .md-content
      .md-form-container
        form(action="/users/reset-password" method="POST")
          .md-user-reset-password-form.md-form
            .md-form-title 找回密码
            .md-form-section
              label.md-radio-button
                input(type="radio" name="resetType" value="email")
                span 通过邮箱找回
            .md-form-section
              label.md-radio-button
                input(type="radio" name="resetType" value="phone" disabled)
                span 通过短信找回(暂不支持)
            .md-form-section
              button.md-btn-primary.md-form-btn(type="submit") 确定
