extends ../../common/layout

block link
  link(href="/static/font-awesome.css" rel="stylesheet")

block content
  include ../../common/header
  include ../../common/leftNav
  .md-content-wrapper
    .md-content
      .md-profile
        .md-profile-header
        img.md-profile-avatar(src= user.avatarSrc)
        .md-profile-body
          .md-profile-kpi-bar
            .md-profile-kpi 销售量: 1000
          .md-profile-content
            .md-profile-content-card
              .username 用户名: #{user.username}
            .md-profile-content-card
              .email 邮箱: #{user.email}
            .md-profile-content-card
              .phone 手机号: #{user.phone}

block scripts
  script(type="application/javascript" src="/static/bundle.js")
