extends ../../common/layout

block link
  link(href="/static/font-awesome.css" rel="stylesheet")

block content
  include ../../common/simpleHeader
  include ../../common/message
  .md-content
    .md-form-container
      form(action="/users/forget-password" method="POST")
        .md-user-forget-password-form.md-form
          .md-form-title 通过邮箱找回密码
          .md-form-flash-message 请输入您的邮箱
          input.md-form-input(type="text" name="email")
          .md-form-section
            button.md-btn-primary.md-form-btn(type="submit") 确定
            a.md-btn-default.md-form-btn(href="/users/login") 返回
