.crouton {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  min-width: 350px;
  margin-bottom: 0px;
  border-radius: 0 0 5px 5px;

  .error {
    border-radius: inherit;
    background-color: #FF5F5F;
    padding-top: 10px;
  }

  .info {
    border-radius: inherit;
    background-color: #1F8DD6;
  }

  .warning {
    border-radius: inherit;
    background-color: #FF8859;
  }

  .success {
    border-radius: inherit;
    background-color: #50CD84;
  }

  .buttons {
    text-align: right;
    button {
      border: none;
      background-color: inherit;
      color: #eee;
    }
    button:hover {
      color: #fff;
      transition: 0.3s;
    }
  }
}
